{{#items}}
/* {{name}} */
@{{name}}: '{{name}}';
@{{name}}-x: {{px.x}};
@{{name}}-y: {{px.y}};
@{{name}}-offset-x: {{px.offset_x}};
@{{name}}-offset-y: {{px.offset_y}};
@{{name}}-width: {{px.width}};
@{{name}}-height: {{px.height}};
@{{name}}-total-width: {{px.total_width}};
@{{name}}-total-height: {{px.total_height}};
@{{name}}-image: '{{{escaped_image}}}';
@{{name}}-image-2x: '{{{image2x}}}';
@{{name}}-retina: true;
{{/items}}