{{#items}}
.{{name}} {
  background-image: url('{{{escaped_image}}}');
  background-position: {{px.offset_x}} {{px.offset_y}};
  width: {{px.width}};
  height: {{px.height}};
}

@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {

	.{{name}} {
		background-image: url('{{{image2x}}}');
		background-size: {{px.total_width}} {{px.total_height}};
	}

}

{{/items}}